.applicant {
	text-align: justify;
}
.applicant img{
	width:100%;
}
.applicant .name h2{
	margin-top: 10px;
}
.btn-vote-container{
	padding:10px 0 30px;
}
.btn-vote-container button{
	width:100%;
}
#doVote{
	margin-top: 10px;
}
#confirmModal textarea{
	width:100%;
	height: 100px;
}
nav	{
	background: #eee;
	margin-bottom: 10px;
}
nav h3{
	display: inline-block;
}
nav ul{
	list-style-type: none;
	padding-left: 0;
	display: inline-block;
}
nav ul li{
	display:inline-block;
}
nav ul li a{
	display:block;
	padding:20px 20px 10px;
}
.table{
	font-size: 1.5em;
	text-align: center;
}
.table thead {
	font-weight: bold;
}
.table td:first-child{
	text-align: left;
}